# Welcome to your site configuration!
#
# This config file contains settings that control the entire site.
# If you change this file, please restart the server process.

# Theme Settings
#
# Review documentation to determine if you should use `theme` or `remote_theme`

minimal_mistakes_skin    : "aqua" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Settings
locale                   : "zh-CN"
rtl                      :
title                    : "Taylor的个人主页"
title_separator          : "-"
subtitle                 :
name                     : "Taylor"
description              : "很高兴认识你，祝你生活愉快"
url                      : "https://taylor7992.github.io"
baseurl                  : ""
repository               :
teaser                   :
logo                     :
masthead_title           : "Coffee, Code, and Microcontrollers"
breadcrumbs              :
words_per_minute         : 200
enable_copy_code_button  :
copyright                :
copyright_url            :

comments:
  provider               : "giscus"
  disqus:
    shortname            :
  discourse:
    server               :
  facebook:
    appid                :
    num_posts            :
    colorscheme          :
  utterances:
    theme                :
    issue_term           :
  giscus:
    repo_id              :
    category_name        :
    category_id          :
    discussion_term      :
    reactions_enabled    :
    theme                :
    strict               :
    input_position       :
    emit_metadata        :
    lang                 :
    lazy                 :
  staticman:
    branch               :
    endpoint             :

reCaptcha:
  siteKey                :
  secret                 :

atom_feed:
  path                   :
  hide                   :

search                   :
search_full_content      :
search_provider          :

lunr:
  search_within_pages    :

algolia:
  application_id         :
  index_name             :
  search_only_api_key    :
  powered_by             :

google:
  search_engine_id       :
  instant_search         :

google_site_verification :
bing_site_verification   :
naver_site_verification  :
yandex_site_verification :
baidu_site_verification  :

# Social Sharing
twitter:
  username               :
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :

social:
  type                   :
  name                   :
  links: []

# Analytics
analytics:
  provider               :
  google:
    tracking_id          :
    anonymize_ip         :

# Removed original author information for privatization
author: {}

# Site Footer
footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/Taylor7992"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook-square"
  since: "2013"

# Reading Files
include:
  - .htaccess
  - _pages

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - package-lock.json
  - Rakefile
  - README
  - tmp
  - /docs
  - /test

keep_files:
  - .git
  - .svn

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
timezone:

# Pagination
paginate: 5
paginate_path: /page:num/

pagination:
  debug: false
  collection: 'posts'
  per_page: 10
  permalink: '/page/:num/'
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  category: 'posts'
  tag: ''
  locale: ''
  trail:
    before: 2
    after: 2

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

collections:
  projects:
    output: true
    permalink: /projects/:title/

  

whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

# Archives
category_archive:
  type: liquid
  path: /categories/

tag_archive:
  type: liquid
  path: /tags/

# HTML Compression
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: false
      read_time: true
      comments:
      share: true
      related: true

